@charset "utf-8";

body { margin: 0; padding: 0; }
ul { list-style: none; }

/****************************
Styling
*****************************/
a {
	color: #000;
	display: block;
	font-size: 13px;
	text-decoration: none;
	font-family: 'Georgia', serif;
}
#nav ul a {
	font-size: 12px;
	padding: 10px 18px;
}
#nav ul li:hover {
	background: #e9e9e9;
}
nav { width: 900px; }

/****************************
Functionality
*****************************/

/* Menu header */
#nav > li {
	float: left;
	margin: 0 19px;
	padding: 0 1px 19px 0;
	position: relative;
}
/* Dropdown */
#nav ul {
	width: 140px;
	padding: 8px 0;
	position: absolute;
	top: -1000px;
	left: -35px;
	opacity: 0;
	border: 1px solid #aaa;
	border-radius: 2px;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);;
	-webkit-transition-property: opacity, top;
	-webkit-transition-duration: .2s, 0;
	-webkit-transition-delay: 0, .2s;
}
#nav > li:hover ul {
	top: 35px;
	opacity: 1;
	-webkit-transition-delay: 0, 0;
}

/********************************
 The dropdown arrow & its border
 ********************************/

/* This is the arrow's grey border */
#nav ul:before {
	position: absolute;
	top: -7px;
	left: 55px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #999;
	border-left: 7px solid transparent;
	content: '';
}
/* This is the white fill of the arrow */
#nav ul:after {
	position: absolute;
	top: -6px;
	left: 56px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid white;
	border-left: 6px solid transparent;
	content: '';
}

/**************************
 Bottom border transitions
 **************************/

#nav > li a {
	-webkit-transition: border .25s;
	-moz-transition: border .25s;
	-o-transition: border .25s;
	transition: border .25s;
}
#nav1 { border-bottom: 0px solid #e03858; }
#nav2 { border-bottom: 0px solid #ef7c28; }
#nav3 { border-bottom: 0px solid #31aa34; }
#nav4 { border-bottom: 0px solid #28a6c6; }
#nav5 { border-bottom: 0px solid #854db5; }
#nav > li:hover #nav1 { border-bottom: 3px solid #e03858; }
#nav > li:hover #nav2 { border-bottom: 3px solid #ef7c28; }
#nav > li:hover #nav3 { border-bottom: 3px solid #31aa34; }
#nav > li:hover #nav4 { border-bottom: 3px solid #28a6c6; }
#nav > li:hover #nav5 { border-bottom: 3px solid #854db5; }